.buscaContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.busca {
    margin: 20px auto;
    padding: 12px 16px;
    width: 100%;
    max-width: 1230px;
    height: 48px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #E9EBEF;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
}